html {
  background-color: $dt('color.secondary.100')
}

html.dark {
  background-color: $dt('color.secondary.900')
}

/* TODO: check Pinceau color mode bug */
.light-img {
  display: block;
  @dark {
    display: hidden;
  }
}

.dark-img {
  display: hidden;
  @dark {
    display: block;
  }
}
