tbody td[data-v-82a2f2d1]{font-family:var(--typography-font-body);padding:var(--prose-tbody-td-padding)}tbody td[data-v-82a2f2d1]:first-child{padding-inline-start:0}tbody td[data-v-82a2f2d1]:last-child{padding-inline-end:0}
